.home {
  background-color: #15655a;
  text-align: center;
  padding-bottom: 2rem;

  overflow-x: hidden;
}

.body {
  background: linear-gradient(180deg, #15655aa8, 20%, #15655a),
    url("./assets/bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  margin: 0 auto 3rem;
  h1 {
    line-height: 1rem;
    font-size: 3rem;
  }
  p {
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 860px;
  }
}

.profile {
  background-image: url("./assets/profile.jpg");
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem auto;
}

.projects {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  max-width: 1060px;
  justify-content: space-between;
}

.projectH2 {
  font-size: 2rem;
}

@media (max-width: 800px) {
  .projects {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .body {
    h1 {
      line-height: 2.5rem;
    }
  }
}
