.home {
  background-color: #15655a;
  text-align: center;
  padding-bottom: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 960px;
  }
}

.profile {
  background-image: url("./assets/profile.jpg");
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem auto;
  max-width: 500px;
}

.projects {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1060px;
  justify-content: space-between;
}
